doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title Hello | Bastiaan Marinus van de Weerd
		link(rel="stylesheet", href="/public/bm-w.css")
	body(ng-app="bmw")
		#wrapper
			h1 Under construction&hellip;
			p
			| Will be online <em>real soon</em>. Patience is a great virtue!
		script(src="/public/bm-w.js")
